/* author: Handika Putra  */
/* github account: https://github.com/HanPutra */

/* fonts */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2");
}
/* end of fonts */

/* global variable */
:root {
  --dark: #181818;
  --light: #f1f2f3;
  --success: #198754;
  --danger: #dc3545;
  --black: #000000;
}
/* end of global variable */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
  background-color: var(--light);
}

/* popup */
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  transition: opacity 0.3s ease;
  z-index: 1;
}

.alert {
  position: relative;
  width: calc(100% - (3rem * 2));
  height: calc(100% - (3rem * 2));
  background-color: var(--dark);
  border-radius: 2rem;
  padding: 4rem 6rem;
}
.alert h1,
.alert p {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.alert .confirm {
  position: absolute;
  bottom: 4rem;
  left: 6rem;
  right: 6rem;
  display: flex;
  justify-content: space-evenly;
}

.confirm input {
  font-size: 2rem;
  font-weight: bold;
  width: 24rem;
  height: 6rem;
  border-radius: 2rem;
  border: none;
  color: var(--light);
  cursor: pointer;
  outline: none;
  box-shadow: 0 9px #999;
  transition: opacity 0.1s ease-in-out;
}
.confirm input:hover {
  opacity: 0.8;
}
.confirm input:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.confirm input:first-child {
  background-color: var(--success);
}
.confirm input:last-child {
  background-color: var(--danger);
}
/* end of popup */

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* gallery */
.gallery {
  width: calc(100vw - (2rem * 2));
  display: flex;
  flex-wrap: wrap;
}

.gallery .gallery-item {
  height: calc(100% - (0.2rem * 2));
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  display: flex;
  margin: 0.2rem 0.2rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.gallery .gallery-item img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.gallery-item:hover img {
  transform: scale(1.2);
}

.img3 {
  width: calc((100% / 3) - (0.2rem * 2));
}
.img4 {
  width: calc((100% / 4) - (0.2rem * 2));
}
.img5 {
  width: calc((100% / 5) - (0.2rem * 2));
}

.gallery-item .gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.gallery-item:hover .gallery-overlay {
  opacity: 1;
}

.image-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item:hover .image-text {
  opacity: 1;
}
/* end of gallery */

/* overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.overlay .overlay-content {
  position: absolute;
  top: 5%;
  left: 25%;
  right: 25%;
  bottom: 5%;
  border-radius: 2rem;
  background-color: var(--light);
  overflow: hidden;
}

.overlay-content .overlay-image {
  width: 100%;
}
.overlay-content .overlay-text {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  /* background-color: var(--success); */
}
.overlay-text .overlay-title {
  position: absolute;
  top: -3rem;
  font-size: 2rem;
  height: 3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 0 1rem;
}

.overlay-text .overlay-desc {
  width: 100%;
  /* background-color: var(--success); */
  text-align: left;
  text-indent: 1.2rem;
  padding: 0.6rem;
  display: inline-block;
  white-space: wrap; /* Prevents text from wrapping to a new line */
  overflow: hidden; /* Hides the overflow */
  text-overflow: ellipsis; /* Adds ellipsis at the end */
}

.close-button,
.left-arrow,
.right-arrow {
  position: absolute;
  font-size: 4rem;
  cursor: pointer;
  background-color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  transition: 0.3s ease;
}

.overlay .close-button {
  top: 5%;
  right: 25%;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.close-button:hover {
  border-bottom-right-radius: 2rem;
  border-top-left-radius: 2rem;
  transform: translate(-0.5rem, 0.5rem);
}

.overlay .left-arrow {
  top: calc(50% - 4rem);
  left: calc(25% - 4rem);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.left-arrow:hover {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transform: translate(-0.5rem);
}

.overlay .right-arrow {
  top: calc(50% - 4rem);
  right: calc(25% - 4rem);
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.right-arrow:hover {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transform: translate(0.5rem);
}
/* end of overlay */

/* footer */
footer {
  position: relative;
  width: auto;
  height: 4rem;
  background-color: var(--dark);
  margin: 1rem 0;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  border-radius: 1rem;
  padding: 0 1rem;
  z-index: -1;
}

footer p a {
  color: var(--light);
  text-decoration: none;
}

/* end of footer */
