/* author: Handika Putra  */
/* github account: https://github.com/HanPutra */

/* fonts */
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.woff2") format("woff2");
}
/* end of fonts */

/* global variable */
:root {
  --dark: #181818;
  --light: #f1f2f3;
  --success: #198754;
  --danger: #dc3545;
  --black: #000000;
}
/* end of global variable */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 0 2rem;
  background-color: var(--light);
}

/* popup */
.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  transition: opacity 0.3s ease-in-out;
}

.alert {
  position: relative;
  width: calc(100% - (3rem * 2));
  height: calc(100% - (3rem * 2));
  background-color: var(--dark);
  border-radius: 2rem;
  padding: 4rem 6rem;
}
.alert h1,
.alert p {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.alert .confirm {
  position: absolute;
  bottom: 4rem;
  left: 6rem;
  right: 6rem;
  display: flex;
  justify-content: space-evenly;
}

.confirm input {
  font-size: 2rem;
  font-weight: bold;
  width: 24rem;
  height: 6rem;
  border-radius: 2rem;
  border: none;
  color: var(--light);
  cursor: pointer;
  outline: none;
  box-shadow: 0 9px #999;
  transition: opacity 0.1s ease-in-out;
}
.confirm input:hover {
  opacity: 0.8;
}
.confirm input:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.confirm input:first-child {
  background-color: var(--success);
}
.confirm input:last-child {
  background-color: var(--danger);
}
/* end of popup */

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* gallery */
.gallery {
  width: calc(100vw - (2rem * 2));
  display: flex;
  flex-wrap: wrap;
}

.gallery .gallery-item {
  height: calc(100% - (0.2rem * 2));
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  display: flex;
  margin: 0.2rem 0.2rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}

.gallery .gallery-item img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.gallery-item:hover img {
  transform: scale(1.2);
}

.img3 {
  width: calc((100% / 3) - (0.2rem * 2));
}
.img4 {
  width: calc((100% / 4) - (0.2rem * 2));
}
.img5 {
  width: calc((100% / 5) - (0.2rem * 2));
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.gallery-item:hover .overlay {
  opacity: 1;
}

.image-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .image-text {
  opacity: 1;
}

/* end of gallery */
